:root {
  //==> Main Colors
  --main-color: #FCEA47;
  --main-color-rgb: 252, 234, 71;
  //==> Text Colors
  --text-color: #fff;
  --text-inside-color: #000;
  //==> Border Colors
  --border-color: #000;
  //==> Background Main Colors
  --main-background: #191919;
  //==> Background Alternative Colors
  --secondary-background: #000;
  //==> Toasts Colors
  --danger-color: #ea5455;
  --danger-color-rgb: 234, 84, 85;
  --success-color: #45ca80;
  --success-color-rgb: 69, 202, 128;
  --alert-color: #f2b24e;
  --alert-color-rgb: 242, 178, 78;
}