@import "../mixins";

%mainBtn {
  display: block;
  width: fit-content;
  background-color: var(--main-color);
  color: var(--text-inside-color);
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 0;
  transition: all 0.2s ease !important;
  border: 1px solid var(--main-color);
  cursor: pointer;
  border-radius: 4px;
  font-weight: 500;
  outline: none;
  padding: 10px 40px;
  cursor: pointer;
  font-size: 16px;

  &:hover {
    filter: brightness(0.7);
  }

  @include sm {
    padding: 8px 25px;
    font-size: 15px;
  }

  @include xs {
    padding: 8px 20px;
    font-size: 14px;
  }

  svg {
    margin-inline-end: 7px;
    position: relative;
    top: 1px;
  }
}